<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - Bánh bao Tuấn Đạt</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/stylepro.css" rel="stylesheet" />

    @RenderSection("head", required: false)
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: #fff3e6;">

    @Html.Partial("_Header")

    <main class="flex-grow-1">
        @RenderBody()
    </main>

    @Html.Partial("_Footer")

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>